hr {
    margin: 0;
}
.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }
    .rodape__titulo{
        color: var(--preto);
        font-family: var('Poppins');
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
    }
    .lista-rodape {
        display: block;
    }
    .lista-rodape__titulo {
        color: var(--cinza-rodape-titulo);
        text-transform: uppercase;
        font-family: var('Poppins');
        font-weight: 400;
        font-size: 14px;
    }
    .lista-rodape__item {
        display:flex;
        margin: 0.6em 0;
        align-items: center;

    }
    .lista-rodape__link {
        text-decoration: none;
        color: var(--cinza-rodape);
        font-size: 14px;
        font-weight: 400;
        margin-left: 0.6em;
    }
    .lista-rodape__link:hover {
        background: var(--azul-degrade);
        padding: 1em;
        color: var(--laranja);
        border-radius: 10px;
        transition: 0.5s;
    }
    
}

@media screen and (min-width: 1728px) {
    .lista-rodape {
        border-left: 1px solid var(--cinza-rodape-titulo);
        padding-left: 0.5em;
        
    }

    .rodape {
        padding: 3em 0;
        background-color: var(--cinza-background);
    }
}